*{
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#titulo-principal{
    color: black;
    background-color: blue;

}

#teste-1{
    color: aqua;
    
}